.cproject
.project
.settings/
bebop_gazebo/config/mathematical_model.pdf
bebop_gazebo/launch/task*
.cproject
.project
.settings
*.pyc
.vscode
*.bin
*.parm
*.tlog
*.raw
*.DAT
*.BIN
*.TXT
cmake-build*
.idea
