<launch>
  <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>
  <arg name="odom"        default="mavros/global_position/local"/>
  
  <!-- Local Visual Servo stack -->
  <include file="$(find brick_pickup_sm)/launch/visual_servo_brick.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="odom" value="$(arg odom)"/>
  </include>

  <!-- Start generic trajectory generator -->
  <include file="$(find topp_ros)/launch/generic_trajectory.launch">
    <arg name="odom" value="$(arg odom)"/>  
  </include>

  <!-- Global Visual Servo stack -->
  <group ns="$(arg namespace)">

    <!-- Load Global Pickup state machine parameters -->
    <rosparam command="load" file="$(find brick_pickup_sm)/config/global_pickup_sm.yaml" />

    <!-- Start global pickup state machine -->
    <node pkg="brick_pickup_sm" type="brick_pickup_sm" name="global_pickup_sm" output="screen">
      <remap from="odometry" to="$(arg odom)"/>
      <remap from="n_contours" to="red_color_filter/nContours"/>
    </node>
  
  </group>

</launch>